language: node_js
node_js:
  - "stable"
cache:
  directories:
  - node_modules
warnings_are_errors: false
script:
  - npm run build
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $github_token
  local_dir: build
  on:
    branch: master