/* Classes for background gradient. the number following 't' stands for the hour in the 24h system. */
.t0,
.t1,
.t2,
.t22,
.t23,
.t3,
.t4 {
  background: linear-gradient(
    to bottom,
    hsl(218, 46%, 8%) 0%,
    hsl(233, 67%, 28%) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.t5 {
  background: linear-gradient(
    to bottom,
    hsl(217, 72%, 16%) 0%,
    hsl(184, 33%, 40%) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.t6,
.t7 {
  background: linear-gradient(
    to bottom,
    hsl(218, 82%, 34%) 0%,
    hsl(31, 87%, 63%) 99%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.t10,
.t8,
.t9 {
  background: linear-gradient(
    to bottom,
    hsl(244, 82%, 53%) 0%,
    hsl(47, 86%, 72%) 99%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.t11,
.t12,
.t13,
.t14,
.t15,
.t16 {
  background: linear-gradient(
    to bottom,
    hsl(219, 89%, 49%) 0%,
    hsl(40, 86%, 73%) 99%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.t17 {
  background: linear-gradient(
    to bottom,
    hsl(219, 89%, 45%) 0%,
    hsl(33, 81%, 66%) 99%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.t18,
.t19 {
  background: linear-gradient(
    to bottom,
    hsl(210, 53%, 65%) 0%,
    hsl(339, 25%, 61%) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.t20,
.t21 {
  background: linear-gradient(
    to bottom,
    hsl(218, 82%, 34%) 0%,
    hsl(31, 87%, 63%) 99%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (max-height: 500px) {
  .t0,
  .t1,
  .t10,
  .t11,
  .t12,
  .t13,
  .t14,
  .t15,
  .t16,
  .t17,
  .t18,
  .t19,
  .t2,
  .t20,
  .t21,
  .t22,
  .t22,
  .t23,
  .t23,
  .t24,
  .t3,
  .t4,
  .t5,
  .t6,
  .t7,
  .t8,
  .t9 {
    background-size: 150%;
  }
}
